# INTY 后端服务
LANGSMITH_TRACING_V2=false
# 影响日志文件中的输出级别
INTY_LOGGING_LEVEL=DEBUG
# 影响命令行日志输出的级别
INTY_CONSOLE_LOGGING_LEVEL=INFO
INTY_LOG_FILE=inty.log

# 作用于 tools/inty_v2_repl 的 REPL 模式
# 需要在上面启动 INTY 后端后拷贝到这里；如果没有删除数据库容器，这个只需要更新一次
# 后续的改动都可以复用同样的内容。
INTY_ACCESS_TOKEN=<INTY_ACCESS_TOKEN>
