[submodule "sdks/typescript"]
	path = sdks/typescript
	url = git@github.com:NascentCore/inty-typescript.git
[submodule "sdks/python"]
	path = sdks/python
	url = git@github.com:NascentCore/inty-python.git
[submodule "sdks/kotlin"]
	path = sdks/kotlin
	url = git@github.com:NascentCore/inty-kotlin.git
