[submodule "sdks/typescript"]
	path = sdks/typescript
	url = git@github.com:NascentCore/inty-typescript.git
[submodule "sdks/python"]
	path = sdks/python
	url = git@github.com:NascentCore/inty-python.git
[submodule "android_app/library/inty_sdk"]
	path = android_app/library/inty_sdk
	url = git@github.com:NascentCore/inty-kotlin.git
