# stainless generated code
evaluation/inty_sdk
android_app/library/inty_sdk
# Copied gemini workflow files, do not auto format
.github/workflows/gemini-*
# GitHub auto generated issue templates
.github/ISSUE_TEMPLATE
# Generated openapi spec
app/openapi.json
# routeMap.json is auto generated
android_app/app/src/main/assets/therouter/routeMap.json
