app:
  name: "InTy"
  debug: false
  api_v1_prefix: "/api/v1"
  backend_cors_origins: ["http://localhost:3000","http://localhost:8000"]

logging:
  level: "INFO"
  format: "<green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> | <level>{level: <8}</level> | <cyan>{name}</cyan>:<cyan>{function}</cyan>:<cyan>{line}</cyan> - <level>{message}</level>"
  file: "logs/app.log"
  rotation: "500 MB"
  retention: "10 days"

security:
  secret_key: "your-secret-key-here"
  algorithm: "HS256"
  access_token_expire_minutes: 10080

database:
  host: "localhost"
  port: 5432
  user: "your-db-user"
  password: "your-db-password"
  db: "your-db-name"

google_oauth:
  client_id: "your-google-client-id"
  client_secret: "your-google-client-secret"
  redirect_uri: "http://localhost:8000/api/v1/auth/google/callback"

verification:
  code_expire_minutes: 5 