# Debug 构建下的签名配置；用于构建签名 apk 或 aab
# 本文件只是占位，并不需要配置指向内容真实存在；如下方的 jks
# 不存在的情况下，仍然不影响编译。
# 在新的代码库中将本文件改名为 keystore.properties 即可在 Android Studio 中编译构建不用签名的 APK/AAB
debug.storeFile=<key.jks>
debug.storePassword=com.ai.intellimate
debug.keyAlias=<alias>
debug.keyPassword=<password>

# Release signing config
release.storeFile=<key.jks>
release.storePassword=com.ai.intellimate
release.keyAlias=<alias>
release.keyPassword=<password>
