# 依赖目录
node_modules

# 构建输出
dist
.umi
.umi-production
.umi-test
.umi-test-production
coverage

# 静态资源
public

# 服务端代码
server
mock

# 配置文件
biome.json
package.json
tsconfig.json
yarn.lock
package-lock.json

# 文档
*.md

# 其他
.DS_Store

