OPENROUTER_API_KEY=<KEY>
FAL_KEY=<KEY>
LANGSMITH_API_KEY=<KEY>
LANGSMITH_PROJECT=inty-v2-text-chat-prototype-<USER>
LANGSMITH_TRACING_V2=true
INTY_V2_PROTO_Z_IMAGE_SKIP_GCS=1
INTY_V2_PROTO_HEARTBEAT=1
INTY_V2_PROTO_DUAL_LLM=1
