@import '@/styles/variables.less';

.footer-ad-wrapper {
  width: 100%;
  background: @dark-bg-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  .footer-ad {
    width: 100%;
    max-width: 100%;
  }
}
