@import '@/styles/variables.less';

.home-page {
  width: 100%;
  height: 100%;
  background: @dark-bg-primary;
  padding: 0;
  overflow-y: auto;
  padding-top: 70px;

  .page-content {
    padding: 16px;
  }
}
