root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
end_of_line = lf

ktlint_code_style = android_studio
max_line_length = off
ktlint_standard_property-naming = disabled

# IntelliJ import layout to reduce churn
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^kotlinx.**

# Disable a few strict rules that cause massive churn
ktlint_standard_function-signature = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
